<% field_value ||= nil %>
<div class="col-md-<%= field.field_width %>">
  	<%= f.label field.id, field.name.humanize, :class => 'control-label col-md-2' %>
	<div class="col-md-3">
		<% if field_value == "1" %>
  			<%= f.check_box field.id, {checked: true} %>
  		<% else %>
 			<%= f.check_box field.id %>
 		<% end %> 		
  		<% if defined?(errors) and errors.present? %>
			<small class="error-msg"style="color:red"><%= errors.join(', ') %></small>
	  	<% end %>
  	</div>
</div>
