<% field_value ||= nil %>
<div class="col-md-<%= field.field_width %>">
	<%= f.label field.name, field.name.humanize, :class => "col-md-3 control-label" %>
	<div class="col-md-7">
		<%= f.password_field field.id, value: field_value, :placeholder => "123456789", :class => "form-control upass" %>
		<%= button_tag "Show Characters", type: 'button',  :class => 'togglePassword btn btn-success' %>

		<% if defined?(errors) and errors.present? %>
			<small class="error-msg"style="color:red"><%= errors.join(', ') %></small>
		<% end %>
	</div>
	<% if field.required? %>
		<span class="required required-field">*</span>
	<% end %>
</div>
<script type="text/javascript">
	$(".togglePassword").click(function() {
		var password_field = $(this).siblings(".upass");
		var toggleBtn = $(this).closest('.togglePassword');
		if(password_field.attr('type') == "password"){
			password_field.attr('type','text');
			toggleBtn.text("Hide Characters");
		} else {
			password_field.attr('type', 'password');
			toggleBtn.text("Show Characters");
		}
	});
</script>
