<style type="text/css">
    .required{
      color: red;
      font-size: 22px;
      text-shadow: 0 0 5px red;
    }
    .required-field{
      margin-left: -25px;
    }
</style>

<%= form_for(@dynamic_form_entry, 
    :html => {:class => "", :multipart => true}) do |f| %>
  <% if @dynamic_form_entry.errors.any? %>
    <div class="row">
      <div class="well" id ="errors">
        <h2>This form contains <%= pluralize(@dynamic_form_entry.errors.count, "error") %></h2>
        <ul>
          <% @dynamic_form_entry.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>


  <%= f.hidden_field  :dynamic_form_type_id, :value => @dynamic_form_type.id %>
  <%= f.fields_for :properties, OpenStruct.new(Hash[@dynamic_form_entry.properties.map{|k,v| [k.to_s, v]}]) do |builder| %>
    <%= render_fields(@dynamic_form_entry, builder) %>
  <% end %>


  <div class="actions col-md-offset-2 col-sm-8">
    <%= submit_tag "Save Form", :name => "submit_entry", :class => "btn btn-success btn-block btn-lg" %>
    <span class="required required-tag">* </span>Indicates a required field!
  </div>
<% end %>