
<div align="center" class="row multistep-nav-steps">
    
    <ul class="pager next-prev-steps pull-left">
        <li class="previous"><a href="#">&larr; Previous</a></li>
    </ul>

    <div class="btn-group btn-breadcrumb">
      <% @dynamic_form_type.ordered_fields.each do |type| %>
        <% if type.field_type == "field_group" %>
          <a href="#" class="btn btn-default" data-step-id="step_<%= type.id %>" data-field-group-name="<%= type.name %>"><%= type.name %> <span class=""></span></a>
        <% end %>
      <% end %>
    </div>



    <ul class="pager next-prev-steps pull-right">
        <li class="next"><a href="#">Next &rarr;</a></li>
    </ul>

    <br></br>
            
      <span class="required required-tag">* </span>Required field

        

</div>


<%= form_for(dynamic_form_entry, 
    :html => {:class => "form-horizontal", :multipart => true}) do |f| %>

    <% if dynamic_form_entry.errors.any? %>
        <div class="row">
            <div class="well" id ="errors">
                <h2>This form contains <%= pluralize(dynamic_form_entry.errors.count, "error") %></h2>
                <ul>
                    <% dynamic_form_entry.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        </div><!-- /row -->
    <% end %>
    

    <%= f.hidden_field  :dynamic_form_type_id, :value => @dynamic_form_type.id %>
    <%= f.fields_for :properties, OpenStruct.new(Hash[dynamic_form_entry.properties.map{|k,v| [k.to_s, v]}]) do |builder| %>
        <%= render_fields(dynamic_form_entry, builder) %>
    <% end %>

    <div class="row multistep-nav-steps">
      <ul class="pager next-prev-steps pull-left">
        <li class="previous"><a href="#">&larr; Previous</a></li>

      </ul>
      <ul class="pager next-prev-steps pull-right">
        <li class="next"><a href="#">Next &rarr;</a></li>
      </ul>

        <div class="col-md-6 save-draft-button">
            <%= submit_tag 'Save as Draft', 
                    :class => "btn btn-danger dfe-tooltip btn-lg btn-block col-md-offset-4 field-group-save",
                    :name => "save_draft",
                    :title => "Save the current state of the #{@dynamic_form_type.name} to work on later.",
                    :data => {
                              :toggle => "tooltip", 
                              :placement => "bottom" 
                              }
                    
                    %>
        </div>
        <div class="actions col-md-2 col-md-offset-5 save-draft-email">
              <%= check_box_tag 'email_recipient' %>
              <%= label_tag 'Email copy of draft' %><br>
        </div>

        <div class="col-md-6 col-md-offset-2 submit-entry-button">
            <%= submit_tag 'Submit as Final', 
                  :class => "btn btn-success dfe-tooltip btn-lg btn-block field-group-submit", 
                  :name => "submit_entry",
                  :title => "Submit #{@dynamic_form_type.name} as final review.",
                  :data => {
                      :toggle => "tooltip", 
                      :placement => "bottom", 
                      :confirm => "Are you sure you want to submit this entry?"}  
                      %>
        </div>

    </div>

    <div class="clear spacer"></div>

<% end %>
