<div align="center">
	<h1 id="main-header"><span class='text-danger'>Editing </span><%= @dynamic_form_entry.dynamic_form_type.name %></h1>
	<p><%= @dynamic_form_entry.dynamic_form_type.description %></p>
</div>

<% if @dynamic_form_type.form_type == "Multi-step" %> 
	<%= render partial: 'multistep_form', locals: { dynamic_form_entry: @dynamic_form_entry} %>
	<%= render partial: 'field_group', locals: { dynamic_form_entry: @dynamic_form_entry} %>

<% else %>
	<%= render partial: 'default_form', locals: { dynamic_form_entry: @dynamic_form_entry} %>
<% end %>
<script type="text/javascript">
	<%= render 'form_action.js' %>
	
</script>

