<div align="center">
	<h1 id="main-header"><%= @dynamic_form_entry.dynamic_form_type.name %></h1>
	<h4><%= @dynamic_form_entry.dynamic_form_type.description %></h4>
</div>

<div class="clear spacer"></div>

<% if @dynamic_form_type.form_type != "Multi-step" %>
	<%= render partial: 'default_form', locals: { dynamic_form_entry: @dynamic_form_entry} %>
<% else %>
	<%= render partial: 'multistep_form', locals: { dynamic_form_entry: @dynamic_form_entry} %>
	<%= render 'field_group' %>
<% end %>

<script type="text/javascript">
	<%= render 'form_action.js' %>
</script>
