
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> 

		<ol class="breadcrumb header transparent-background">
			<li><%= link_to "Forms", dynamic_form_types_path %></li>
			<li><%= link_to @dynamic_form_type.name,  form_entries_path(@dynamic_form_type) %></li>
			<li class="active">Entry: <%= @dynamic_form_entry.id %></li>
		</ol>

	</div>

	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<% if params[:iframe] != "1" %>
		<div class="btn-group pull-right hide-print">
			<%= link_to("View Form", 
						new_form_entry_path(@dynamic_form_type), 
						:class=>"btn btn-info") %>

			<%= link_to("Edit Form", 
						edit_dynamic_form_type_path(@dynamic_form_type), 
						:class=>"btn btn-primary") %>
			<%= link_to dynamic_form_entry_path(@dynamic_form_entry, format: :print),:class => 'print-index btn btn-success' do %>
            <i class="fa fa-print"></i> Print Entry
          <% end %>
		</div>

		<% end %>
	</div>

</div>

<div class="well col-md-12 col-lg-12">
	<% @dynamic_form_entry.each_field_with_value do |index, field| %>
		<div class="row row-table print-table">
			<% if field[:type] == "file_upload" %>
				<label class="col-sm-3 control-label">
					<%= index[:content_name] %>:
				</label>
				<div class="col-sm-9">
					<%= link_to("Download", index.filename.url, class: 'btn btn-success') %>
				</div>
			<% elsif field[:type] == "phone_validation" %>
				<label class="col-sm-3 control-label">
					<%= field[:name] %>:
				</label>
				<div class="col-sm-9">
					<%= number_to_phone(field[:value]) %>
				</div>
			<% elsif field[:type] == "currency" %>
				<label class="col-sm-3 control-label">
					<%= field[:name] %>:
				</label>
				<div class="col-sm-9">
					<%= number_to_currency(field[:value]) %>
				</div>
			<% elsif field[:type] == "phone_validation" %>
				<label class="col-sm-3 control-label">
					<%= field[:name] %>:
				</label>
				<div class="col-sm-9">
					<%= number_to_phone(field[:value]) %>
				</div>
			<% elsif field[:type] == "agreement" %>
				<label class="col-sm-3 control-label">
					<%= field[:name] %>:
				</label>
				<div class="col-sm-9">
					<p>Approved</p>
				</div>
			<% elsif field[:type] == "check_box" %>
				<label class="col-sm-3 control-label">
					<%= field[:name] %>:
				</label>
				<div class="col-sm-9">
					<p>Checked</p>
				</div>
			<% else %>
				<label class="col-sm-3 control-label">
					<%= field[:name] %>:
				</label>
				<div class="col-sm-9">
					<%= !field[:value].blank? ? field[:value] : 'No value provided' %>
				</div>
			<% end %>
		</div>
	<% end %>

	<% unless @contacts.blank? %>
		<% @contacts.each do |contact| %>
			<div class="row row-table">
				<label class="col-sm-1 control-label">Contact Type: </label>
				<div class="col-lg-1">
					<%= contact.contact_type %>
				</div>
				<label class="col-md-1 control-label">First Name: </label>
				<div class="col-sm-1">
					<%= contact.first_name %>
				</div>
				<label class="col-sm-1 control-label">Company: </label>
				<div class="col-sm-1">
					<%= !contact.company.empty? ? contact.company : 'None' %>
				</div>
				<label class="col-sm-1 control-label">Email: </label>
				<div class="col-sm-2">
					<%= contact.email %>
				</div>
				<label class="col-sm-1 control-label">Phone: </label>
				<div class="col-sm-1">
					<%= !contact.phone.empty? ? contact.phone : 'None' %>
				</div>
			</div>
		<% end %>
	<% end %>
	<% if @dynamic_form_entry.signature %>
		<div class="col-lg-10">
			<img id="signature_img" class="img-responsive" />
			<div class="col-md-8 col-sm-offset-1">
				<strong><em>The inspection above was inspected by <%= @current_user.email + " at " + @dynamic_form_entry.created_at.strftime('%A, %B %d %Y at %I:%M%p') %></em></strong>
			</div>
			<%= sign_form_field_tag(:signature, @dynamic_form_entry.signature || "") %>
			<script type="text/javascript">
	        	jQuery(function(){
		            var $ = jQuery,
		                $employee_sig_img = $('#signature_img'),
		                $employee_sig = jQuery('#signature_sig');
		                $employee_sig_img.attr('src', $employee_sig.jSignature('getData') );
		                $employee_sig.remove();
	            });
	    	</script>
	    </div>
	<% end %>
</div>

<% if request.original_url =~ /(.print)/ %>
    <%= javascript_tag "window.print()" %>
<% end %>