<fieldset class="dynamic-form-field">
	<div class="row">
		<div class="dynamic-form-field-number">
			<h3 style="
			    background: #f1f1f1;
			    border-radius: 50%;
			    width: 40px;
			    height: 40px;
			    text-align: center;
			    padding-top: 7px;
			    margin: 0;
			    cursor: move;">1</h3>
			<%= f.hidden_field :field_order, :class => "field_order" %>
		</div>

		<div class="pull-right">
			<%= f.hidden_field :_destroy %>
			<%= link_to '#', class: "remove_fields btn btn-danger" do 
				content_tag :span, nil, class: 'glyphicon glyphicon-remove' 
			end %>
		</div>

		
		<div class="col-sm-3">
			<%= f.select(:field_type, DynamicFormsEngine::DynamicFormType.field_types.map{|x| [x.titleize, x] }, {:include_blank => 'Select a field', disabled: ''}, {:class => "field_type form-control"})  %>
		</div>

		<div class="col-sm-2 field-popover">
			<%= f.text_field :name, placeholder: "Name of field", :class => "form-control user-input" %>
		</div>

		<div class="col-md-2 checkbox required"
		data-toggle="popover" 
		data-trigger="focus" 
		data-content="Have this as a required field" 
		data-placement="top">
			<%= label_tag :required do %>
				<%= f.check_box :required %> Required
			<% end %>
		</div>

		<div class="col-md-2 checkbox include-report" 
		data-toggle="popover" data-trigger="focus" 
		data-content="Include this field in the entries report" 
		data-placement="top">
			<%= label_tag :included_in_report do %>
				<%= f.check_box :included_in_report %> Include in report
			<% end %>
		</div>

		<div class="pull-right" style="margin-right: 10px;">
			<%= f.select(:field_width, 
				options_for_select([
					["Field Width", false, style: "background-color:white; color:black;"],
					["Width: 25%", 3, style: "background-color:white; color:black;"],
					["Width: 50%", 6, style: "background-color:white; color:black;"],
					["Width: 75%", 8, style: "background-color:white; color:black;"],
					["Width: 100%", 12, style: "background-color:white; color:black;"]
					], :selected => f.object.field_width),
				{}, {:class => "form-control btn btn-info field-size", :data => {:toggle => 'popover', :trigger => 'focus',:content => 'Choose the size of the field',:placement => 'top'}} ) %>
		</div>
	</div><!-- row -->

	<div class="row options_select">
		<div class="form-group">
			<%= content_tag :div, nil, class: 'dynamic-form-field-number' %>
			<%= label_tag :content_meta, "Options :", class: 'control-label col-md-3' %>
			<div class="options_field col-md-6">
				<%= f.text_field :content_meta, placeholder: "Option 1, Option 2, Option 3", :class => "form-control"  %>
			</div>
		</div>
	</div><!-- row options -->

</fieldset>

<script type="text/javascript">
$(document).ready(function(){
	$('.include-report').popover({trigger: 'hover'});
	$('.required').popover({trigger: 'hover'});
	$('.field-size').popover({trigger: 'hover'});
});
</script>

