<%= form_for(@dynamic_form_type, :html => {:class => "form-horizontal dft-validation"}) do |f| %>
  <% if @dynamic_form_type.errors.any? %>
    <div class="well" id ="errors">
      <h2>This form type contains <%= pluralize(@dynamic_form_type.errors.size, "error") %></h2>
      <ul>
      <% @dynamic_form_type.errors.each do |attribute, error| %>
        <li class="field-errors" data-name="<%= attribute.to_s %>"><%= error %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, :class => "form-control", :required => true,:placeholder => 'Name of form' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :description, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description, :class => "form-control", :required => true, :placeholder => 'Description of form' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :form_type, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.select :form_type,['Default-form','Multi-step'],{}, {:class => 'form-control form-type', id: "form-type"}  %>
    </div>
    <%= f.label :is_public, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.select :is_public,[['No',false],['Yes',true]],{}, {:class => 'form-control public', 
                            :data =>{:toggle => 'toggle', :trigger => 'focus', :content => 'Make this form Public(non users) or Private(registered users)', :placement => 'top'}, id: "public"} %>
    </div>
  </div>

  <div class="field form-group">
    <div class="col-sm-2 control-label">
      <%= link_to_add_many_fields "Add Field", f, :fields %>
    </div>

    <div class="col-sm-10" id="field_fields" >
      <%=raw "<em id='no_field_fields' style='width: 100%; color: red; text-align: center; padding-top: 13px;display: block;'>You need at least one field to submit this form!</em>" if @dynamic_form_type.fields.blank? %>
      <%= f.fields_for :fields, @dynamic_form_type.ordered_fields do |builder| %>
        <%= render 'field_fields', f: builder %>
      <% end %>
    </div>
  </div>

  <div class="actions col-md-offset-2 col-sm-10">
    <%= submit_tag 'Update', :class => "btn btn-success btn-lg", :data => {:toggle => "tooltip", :placement => "left"},
                              :title => "Update the current form with additional fields"  %>
    <%= submit_tag 'Save as', :class=> "btn btn-primary btn-lg", :name =>"save_as_button", 
                    :data => {:toggle => "tooltip", :placement => "right"}, 
                    :title => "Create a duplicate form with additional changes"  %>
  </div>
<% end %>

<%= render 'field_action' %>